header {
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: #ff5000;
  text-align: center;
  position: relative;

  .header__title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 50%;
    font-size: 1.5em;
  }

  .header__val {
    display: flex;
    width: 100vw;
    height: 18vh;
    text-align: center;
    position: relative;
    justify-content: center;

    .header__cart {
      align-self: flex-end;
    
    }

    ul {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-end;
      justify-content: space-between;
      text-align: center;
      padding-bottom: 0.5em;

      li:nth-child(5) {
        margin-right: 0%;
      }

      a {
        text-decoration: none;
        padding: 0.5em;
        color: black;
      }
      a:hover {
        color: $white;
      }
    }
  }
}

footer {
  width: 100vw;
  height: 40vh;
  background-color: #00b7ff;

  .footer__text {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin: auto;
    padding: 2em 0;

    ul {
      list-style: none;
      justify-content: space-between;
      padding-top: 1em;

      li {
        padding: 0.2em 0;
      }

      a {
        text-decoration: none;
        color: #fffcf2;
      }
      a:hover {
        color: $black;
      }
    }
  }

  @media (max-width: 1200px) {
    
  }
  @media (max-width: 600px) {
    .footer {
      height: 80vh;
    }
    .footer__text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
