@media (max-width: 500px) {
  .content {
    flex-direction: row wrap;
    flex-flow: wrap;
  }
}

@media (min-width: 800px) {
  .content {
    flex-direction: row;
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 2em;
  justify-content: space-around;
}
.section--reversed {
  flex-direction: row-reverse;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content--image {
  padding-right: 2em;
}

.title {
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 2em;
}

.text {
  font-size: 1.5em;
  line-height: 1;
  flex: 1;
  padding-bottom: 2em;
}

.img {
  max-width: 100%;
}
.button {
  background-color: #00b7ff;
  border: 1px solid #00b7ff;
  color: #000;
  display: inline-block;
  border-radius: 2px;
  padding: 0.75em 4em;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover {
  background-color: #ff5000;
  border-color: #ff5000;
}
