@import "scss/config";
//Letur fyrir meginmál er Open Sans eða helvetica, arial eða sans-serif letur. Letur fyrir fyrirsagnir er Oswald, Verdana eða serif letur.
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5em;
  header {
    background-color: #ff5000;
    font-size: 16px;
    line-height: 1.5em;
  }

  footer {
    width: 100vw;
    height: 30vh;
    background-color: #00b7ff;

    .footer_text {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    //max-width: 1200px;
  }

  // TODO fleiri grunn stillingar

  // TODO sækja allar sass skrár
  @import "scss/products";
  @import "scss/cart";
}
